---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ddclient-conf
  namespace: ddclient
data:
  ddclient.conf: |
    daemon=600				# check every 600 seconds
    syslog=yes				# log update msgs to syslog
    pid=/var/run/ddclient/ddclient.pid		# record PID in file.
    ssl=yes 				# use ssl-support.

    use=web, web=checkip.dyndns.org/, web-skip='IP Address'

    ##
    ## CloudFlare (www.cloudflare.com)
    ##
    protocol=cloudflare,        \
    zone={{ ddclient_zone }},            \
    ttl=600,                      \
    login={{ cloudflare_login }},     \
    password={{ cloudflare_password }}             \
    {% for domain in ddclient_domains %}{{ domain }}{% if not loop.last %}, {% endif %}{% endfor %}
